@import "tailwindcss";

/* Add this to your global CSS file if needed */
.card-header {
  background-color: #f8f9fa !important;
}

.form-control:focus {
  border-color: #ced4da;
  box-shadow: 0 0 0 0.25rem rgba(0, 0, 0, 0.1);
}

.btn-dark:hover {
  background-color: #212529;
  opacity: 0.9;
}

@layer utilities {
  .blink {
    animation: blink 1s steps(2, start) infinite;
  }

  @keyframes blink {
    to {
      visibility: hidden;
    }
  }
}
